<Configuration status="WARN">
	<Appenders>
		<Log4j2Appender name="Log4j2Appender">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg (%F:%L)%n"/>
		</Log4j2Appender>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Log4j2Appender"/>
		</Root>
	</Loggers>
</Configuration>