<!-- 
<Configuration status="WARN" strict="true">
	<Appenders>
		<Log4j2Appender name="Log4j2Appender">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg (%F:%L)%n"/>
		</Log4j2Appender>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Log4j2Appender"/>
		</Root>
	</Loggers>
</Configuration>
-->
<!--
<Configuration status="WARN" strict="true">
    <Appenders>
        <Log4j2Appender name="Log4j2Appender">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg (%F:%L)%n"/>
        </Log4j2Appender>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Log4j2Appender"/>
        </Root>
    </Loggers>
</Configuration>	
 -->
 
 <Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
